body {
    background-color: #1a1a1a;
    color: #fff;
    text-align: center;
}

.modal-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-container {
    padding: 20px;
}

.transparent-input {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    border: none;
    border-bottom: 2px solid #fff;
    outline: none;
}

.transparent-input:focus {
    border-color: yellow;
    box-shadow: none;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background-color: #000;
}
